* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 3rem;
  background-color: #f9f8eb;
  height: 100vh;
}

button {
  font-size: 1.8rem;
  font-family: "Indie Flower", cursive;
  padding: 1rem;
  margin: 2rem 0 0 0;
  background-image: linear-gradient(145deg, #ff8080, #fb0091);
  color: #faf2f2;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 10px #fb0091;
  -webkit-box-shadow: inset 0 0 10px #fb0091;
  box-shadow: inset 0 0 10px #fb0091;
}

h1 {
  color: #8566aa;
  font-family: "Righteous", cursive;
}

p {
  font-family: "Indie Flower", cursive;
  color: #fb0091;
}

footer {
  padding: 0 50px 15px 35px;
  font-family: "Indie Flower", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-start;
}
footer svg {
  width: 40px;
}

footer p,
footer a {
  font-size: 12px;
  color: grey;
}

#intro svg {
  margin: 3rem 0 0 0;
  width: 250px;
}
#finished svg {
  width: 300px;
}

.container {
  pointer-events: none;
  display: none;
  visibility: hidden;
}

.grid {
  display: grid;
  width: 100vw;
  height: 92vh;
  padding: 30px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-gap: 15px;
}

.card-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.the-card {
  width: 100%;
  height: 100%;
  border: 1px solid #cecdcd;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.turn-card {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(140, 135, 140, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(140, 135, 140, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(140, 135, 140, 0.75);
  border-radius: 5px;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%239C92AC' fill-opacity='1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: #ffffff;
  transform: rotateY(180deg);
  display: flex;
  justify-items: center;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(140, 135, 140, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(140, 135, 140, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(140, 135, 140, 0.75);
  border-radius: 5px;
}

#play-game svg {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.fadeIn {
  pointer-events: all;
  display: flex;
  visibility: visible;
}

.remove-card {
  pointer-events: none;
  display: none;
  visibility: hidden;
}

#intro,
#finished {
  height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#play-game {
  height: 92vh;
  align-content: start;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
/* Larger screens */
@media screen and (max-width: 1740px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media screen and (max-width: 1460px) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
  }

  #intro,
  #play-game,
  #finished,
  .grid {
    height: 90vh;
  }
}

@media screen and (max-width: 1180px) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
  }
}

/* Large tablets in portrait mode */
@media screen and (min-width: 781px) and (orientation: portrait) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  #finished svg {
    width: 33vw;
  }
  #intro,
  #play-game,
  #finished,
  .grid {
    height: 93vh;
  }
}
/* Large tablets in landscape mode */
@media screen and (max-width: 1460px) and (orientation: landscape) {
  .grid {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #finished svg {
    width: 25vw;
  }

  #intro,
  #play-game,
  #finished,
  .grid {
    height: 92vh;
  }
}

/* Tablets in portrait mode */
@media screen and (max-height: 1030px) and (orientation: portrait) {
  button {
    margin: 2rem 0 2rem 0;
  }

  #finished button {
    margin: 1rem 0 1rem 0;
  }

  #finished svg {
    width: 35vw;
  }

  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  #intro,
  #play-game,
  #finished,
  .grid {
    height: 92vh;
  }
}
/* Tablets in landscape mode */
@media screen and (max-width: 1030px) and (orientation: landscape) {
  button {
    margin: 0.5rem 0 0.5rem 0;
  }
  #finished svg {
    margin: 0;
    width: 25vw;
  }
  .grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  #intro,
  #play-game,
  #finished,
  .grid {
    height: 90vh;
  }
}

/* Mobiles in portrait mode */
@media screen and (max-width: 481px) and (orientation: portrait) {
  h1 {
    font-size: 3.5rem;
  }

  button {
    font-size: 1.2rem;
    padding: 0.7rem;
    margin: 0.5rem 0 0.5rem 0;
  }

  footer {
    padding: 0 20px 10px 20px;
  }

  #intro,
  #play-game,
  #finished,
  .grid {
    height: 90vh;
  }
  #intro svg {
    width: 45vw;
  }

  #intro,
  #finished svg {
    padding: 1rem;
  }

  #play-game svg {
    padding: 3px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 15px;
  }

  .card-container {
    width: 100%;
    height: 100%;
  }
}

/* Mobiles in landscape mode */
@media screen and (max-height: 481px) and (orientation: landscape) {
  h1 {
    font-size: 3rem;
  }
  button {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0;
  }
  footer svg {
    width: 35px;
  }
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 88vh;
  }
  #play-game svg {
    padding: 3px;
  }
  #intro,
  #play-game,
  #finished {
    height: 85vh;
  }

  #intro svg {
    margin: 2rem 0 0 0;
    width: 20vw;
  }
  #finished svg {
    margin: 1rem 0 0 0;
    width: 20vw;
  }
  #finished p {
    font-size: 2.3rem;
  }
}
