* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
<<<<<<< HEAD
  font-size: 2.5rem;
=======
  font-size: 3rem;
>>>>>>> staging
  background-color: #f9f8eb;
}

button {
<<<<<<< HEAD
  font-size: 1.4rem;
  padding: 1rem;
  margin: 2rem;
  background-image: linear-gradient(165deg, #fb0091, #ff8080);
  color: #faf2f2;
  border-radius: 4px;
}

h1 {
  color: #503bff;
=======
  font-size: 1.8rem;
  font-family: "Indie Flower", cursive;
  padding: 1rem;
  margin: 2rem 0 8rem 0;
  background-image: linear-gradient(145deg, #ff8080, #fb0091);
  color: #faf2f2;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 10px #fb0091;
  -webkit-box-shadow: inset 0 0 10px #fb0091;
  box-shadow: inset 0 0 10px #fb0091;
}

h1 {
  color: #8566aa;
  font-family: "Righteous", cursive;
}
p {
  font-family: "Indie Flower", cursive;
  color: #fb0091;
}

footer {
  padding: 0 0 5px 5px;
}

footer a {
  color: grey;
}

footer p {
  font-size: 12px;
  font-family: sans-serif;
  color: grey;
}

td {
  height: 150px;
  border: 1px solid #cecdcd;
  border-radius: 5px;
  box-shadow: 2px 1px #888888;
  background-color: #faf6f2;
}

#play-game svg {
  padding: 10px;
>>>>>>> staging
}

.container {
  pointer-events: none;
  display: none;
  visibility: hidden;
}

.fadeIn {
  pointer-events: all;
  display: flex;
  visibility: visible;
}

#intro,
<<<<<<< HEAD
#finished {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
=======
#finished,
#play-game {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#play-game table {
  border-collapse: separate;
  border-spacing: 15px;
>>>>>>> staging
}
